@font-face {
    font-family: "Cyber";
    src: url("./fonts/CyberFont/CyberHorizon-ARAvL.ttf") format("truetype");
}

:root {
    --background-color: rgb(0, 0, 0);
    --calculator-body-color: rgb(252, 15, 192);
    --display-color: rgb(252, 250, 249);
    --hacker-text-color: rgb(4, 240, 106);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: "Cyber";

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--background-color);
    overflow: hidden;
}

* {
  box-sizing: border-box;
}

button {
    font-family: "Cyber";

}

#title {
    position: absolute;
    top: 30px;

    font-size: 350%;
    color: var(--display-color)
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 600px;

    background-color: var(--calculator-body-color);
    border-radius: 0 0 10% 10%;

    padding: 2%
}

#display {
    background-color: var(--display-color);
    border-radius: 10%;

    padding: 5%;

    height: 20%;
    width: 100%
}

#all-buttons {
    display: flex;
    flex-direction: row;
}

#center-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#side-functions {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
}

#ear-one, #ear-two {
    position: absolute;
    z-index: -1;
    top: 100px;
    transform: scale(105%);
}

#ear-one {
  left: 343px;
}
    
#ear-two {
    left: 630px;
}

#hat {
  position: absolute;
  z-index: -2;

  top: 0px;
  left: 395px;
}

#mouth {
  transform: rotateX(180deg);
}

#body {
    position: absolute;
    z-index: -1;

    top: 290px;
    left: 273px;

}

/* ideal svg sizing in px (not in px?? a bit of a mystery about the sizing, then) widthxheight: <- I need to look more into how sizing works for SVG elements
ear: 210x157.5
hat: 500x85
mouth: 100x50
body: 618.24 x 838.93 */

