@font-face {
    font-family: "Cyber";
    src: url("./fonts/CyberFont/CyberHorizon-ARAvL.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: "Cyber";
}

* {
  box-sizing: border-box;
}

button {
    font-family: "Cyber";
}


