@font-face {
    font-family: "Cyber";
    src: url("./fonts/CyberFont/CyberHorizon-ARAvL.ttf") format("truetype");
}

:root {
    --background-color: rgb(0, 0, 0);
    --grey-text: rgb(125, 132, 145);
    --calculator-body-color: rgb(252, 15, 192);
    --display-color: rgb(252, 250, 249);
    --hacker-text-color: rgb(4, 240, 106);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: "Cyber";

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--background-color);
    overflow: hidden;

    min-height: 730px;
    min-width: 650px;
}

* {
  box-sizing: border-box;
}

button {
    font-family: "Cyber";

}

#hacker {
    position: absolute;
    top: 0;
    z-index: -10;

    height: 100vh;
    width: 100vw;
}

#title {
    position: absolute;
    top: 30px;

    font-size: 350%;
    color: var(--display-color)
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;

    width: 500px;
    height: 600px;

    background-color: var(--calculator-body-color);
    border-radius: 10% / 50%;

    padding: 2%
}

#display {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    background-color: var(--display-color);
    border-radius: 10% / 50%;

    padding: 5% 5% 5% 7%;

    height: 20%;
    width: 100%;
    font-size: xx-large;
}

#results {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: 100%
}

#prevCalc {
    font-size: large;
    height: 40%;
    width: 100%;
    color: var( --grey-text);
}

#currentCalc {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

#backspace {
    width: 65px;
    height: 65px;

    border-radius: 50%;
    border: 3px solid var(--calculator-body-color);

    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#all-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#all-buttons button {
    border-radius: 40%;

    height: 70px;
    width: 70px;

    font-size: x-large;
}

#calculator-case {
    position: absolute;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: -1;
}

#calculator-case svg {
    transition: all 0.1s ease;
}

#ears {
    margin-bottom: -7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 125px;
    width: 470px;
}

#ear-one, #ear-two {
    height: 125px;
    width: 175px;
}

#hat {
    position: absolute;
    z-index: -2;

    width: 400px;
    margin-bottom: -15%;
    margin-left: 4%
}

#mouth {
  transform: rotateX(180deg);
}

#body {
    z-index: -1;
    height: 800px;
    width: 600px;
}


@media screen and (max-height: 1100px){
    #title {
        top: 20px;
        font-size: 350%;
    }
}

@media screen and (max-height: 1050px){
    #title {
        top: 10px;
        font-size: 325%;
    }
}

@media screen and (max-height: 1000px){
    #title {
        font-size: 300%;
    }

    #calculator {
        width: 450px;
        height: 600px;
    }

    #display {
        width: 110%
    }

    #backspace {
        width: 60px;
        height: 60px;
    }

    #all-buttons button {
        height: 70px;
        width: 70px;
    }

    #ears {
        margin-bottom: -8%;
        height: 125px;
        width: 450px;
    }

    #ear-one, #ear-two {
        height: 125px;
        width: 175px;
    }

    #hat {
        width: 400px;
        margin-bottom: -15%;
    }

    #body {
        height: 775px;
        width: 575px;
    }
}

@media screen and (max-height: 930px){
    #title {
        font-size: 275%;
    }

    #calculator {
        width: 400px;
        height: 550px;
    }

    #display {
        width: 115%;     
        font-size: 28px;
    }

    #prevCalc {
        font-size: 14px;
    }

    #all-buttons {
        gap: 3px;
    }

    #all-buttons button {
        height: 65px;
        width: 65px;
    }

    #ears {
        margin-bottom: -10%;
        height: 120px;
        width: 420px;
    }

    #ear-one, #ear-two {
        height: 120px;
        width: 170px;
    }

    #hat {
        width: 375px;
        margin-bottom: -8%;
    }

    #body {
        height: 725px;
        width: 525px;
    }
}

@media screen and (max-height: 850px) {
    #title {
        font-size: 275%;
    }

    #calculator {
        width: 350px;
        height: 525px;
    }

    #display {
        height: 18%;
        width: 120%;
        font-size: 27px;
    }

    #prevCalc {
        font-size: 12px;
    }

    #backspace {
        width: 55px;
        height: 55px;
    }

    #all-buttons {
        gap: 3px;
    }

    #all-buttons button {
        height: 63px;
        width: 63px;

        font-size: 22px;
    }

    #ears {
        margin-bottom: -10%;
        height: 100px;
        width: 380px;
    }

    #ear-one, #ear-two {
        height: 120px;
        width: 170px;
    }

    #hat {
        width: 350px;
        margin-bottom: -10%;
    }

    #body {
        height: 675px;
        width: 475px;
    }
}

@media screen and (max-height: 800px) {
    #title {
        font-size: 250%;
    }

    #calculator {
        width: 325px;
        height: 500px;
        padding: 1%
    }

    #display {
        width: 110%;
        font-size: 27px;
    }

    #prevCalc {
        font-size: 12px;
    }

    #backspace {
        width: 55px;
        height: 55px;
    }

    #all-buttons button {
        height: 63px;
        width: 63px;

        font-size: 22px;
    }

    #ears {
        margin-bottom: -12%;
        height: 100px;
        width: 355px;
    }

    #ear-one, #ear-two {
        height: 100px;
        width: 150px;
    }

    #hat {
        width: 300px;
    }

    #body {
        height: 650px;
        width: 450px;
    }
}